USE [master]
GO
/****** Object:  Database [Belyaev_UP2]    Script Date: 18.12.2024 20:27:51 ******/
CREATE DATABASE [Belyaev_UP2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Belyaev_UP2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Belyaev_UP2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Belyaev_UP2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\Belyaev_UP2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Belyaev_UP2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Belyaev_UP2]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 18.12.2024 20:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[materialType] [int] IDENTITY(1,1) NOT NULL,
	[DefectPercent] [float] NOT NULL,
 CONSTRAINT [PK_MaterialType] PRIMARY KEY CLUSTERED 
(
	[materialType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnerProducts]    Script Date: 18.12.2024 20:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerProducts](
	[PartnerID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[Quantity] [int] NULL,
	[Date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PartnerID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 18.12.2024 20:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[PartnerID] [int] IDENTITY(1,1) NOT NULL,
	[PartnerType] [int] NULL,
	[CompanyName] [varchar](255) NOT NULL,
	[LegalAddress] [varchar](255) NULL,
	[INN] [varchar](12) NOT NULL,
	[DirectorName] [varchar](255) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Rating] [decimal](5, 2) NULL,
 CONSTRAINT [PK__Partners__39FD6332DFB1FD58] PRIMARY KEY CLUSTERED 
(
	[PartnerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Partners__C490CCF55914CB43] UNIQUE NONCLUSTERED 
(
	[INN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnersType]    Script Date: 18.12.2024 20:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnersType](
	[PartnersTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[PartnersTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 18.12.2024 20:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[ProductID] [int] IDENTITY(1,1) NOT NULL,
	[Article] [varchar](100) NULL,
	[ProductType] [int] NULL,
	[ProductName] [varchar](255) NULL,
	[MinPrice] [decimal](10, 2) NULL,
	[Description] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductsType]    Script Date: 18.12.2024 20:27:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsType](
	[ProductsTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](150) NULL,
	[Ratio] [float] NULL,
 CONSTRAINT [PK__Products__CA2BDC26B33E791C] PRIMARY KEY CLUSTERED 
(
	[ProductsTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PartnerProducts] ADD  DEFAULT (getdate()) FOR [Date]
GO
ALTER TABLE [dbo].[PartnerProducts]  WITH CHECK ADD  CONSTRAINT [FK__PartnerPr__Partn__6754599E] FOREIGN KEY([PartnerID])
REFERENCES [dbo].[Partners] ([PartnerID])
GO
ALTER TABLE [dbo].[PartnerProducts] CHECK CONSTRAINT [FK__PartnerPr__Partn__6754599E]
GO
ALTER TABLE [dbo].[PartnerProducts]  WITH CHECK ADD FOREIGN KEY([ProductID])
REFERENCES [dbo].[Products] ([ProductID])
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [FK__Partners__Partne__693CA210] FOREIGN KEY([PartnerType])
REFERENCES [dbo].[PartnersType] ([PartnersTypeID])
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [FK__Partners__Partne__693CA210]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK__Products__Produc__440B1D61] FOREIGN KEY([ProductType])
REFERENCES [dbo].[ProductsType] ([ProductsTypeID])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK__Products__Produc__440B1D61]
GO
USE [master]
GO
